{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "project": "./tsconfig.json",
  },
  "env": {
    "es2020": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "prettier"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/all",
    "prettier"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-return-await": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "jest/no-hooks": "off"
  }
}
